body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
/*  GENERAL           GENERAL           GENERAL                GENERAL            */
h1 {
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
}
ul {
  display: flex;
  flex-direction: row;
}
h3 {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}
a {
  text-decoration: none;
  height: 100%;
  color: black;
}
p {
  font-size: 1rem;
  color: black;
}
section {
  padding: 20px;
}
ul li span i {
  color: darkgray;
}
strong {
  font-weight: bold;
}
/*               header               header              header            */
#header-logo {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
header img {
  margin-left: 20px;
}
header nav {
  flex-basis: 100%;
  margin-top: 20px;
}
header > a {
  display: flex;
  text-decoration: none;
  color: #0065fc;
  font-weight: bold;
  margin-right: 20px;
}
header nav ul {
  text-align: center;
}
header li {
  flex-basis: 50%;
  padding-bottom: 20px;
  border-bottom: 3px solid lightgray;
}
header li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: black;
  font-weight: inherit;
}
header li:hover {
  border-bottom: 3px solid #0065fc;
}
header li:hover a {
  color: #0065fc;
}
/*                  Search bar              Search bar             Search bar            */
#search-bar h1 {
  padding: 15px 10px 15px 0;
  font-size: 1.4rem;
}
#search-bar form {
  display: flex;
  height: 50px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  margin-top: 40px;
  width: min-content;
}
#search-bar i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1em;
}
#search-bar button {
  min-width: 50px;
  width: 50px;
  border: 1px solid #0065fc;
  border-radius: 15px;
  background-color: #0065fc;
  margin: -1px 0 -1px -5px;
}
#search-bar button i {
  color: #f2f2f2;
  display: flex;
  /* margin-bottom: 6px; */
  font-size: 1.1rem;
}
#search-bar span {
  display: none;
}
#search {
  border: none;
  font-weight: bold;
  color: black;

  font-size: 1rem;
  text-indent: 2%;
  width: 50vw;
}
::placeholder {
  opacity: 1;
}
label {
  min-width: 50px;
  font-size: 1.2rem;
  width: 50px;
}
/*                Filters                  Filters                 Filters            */
#filters p {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  margin: 25px 0 15px 0;
  line-height: 20px;
}
#filters p i {
  background-color: white;
  border-radius: 50%;
  margin: 0 10px 2px 3px;
  border: 1px solid #e2e1e1;
  height: 25px;
  line-height: 25px;
  min-width: 25px;
  font-size: 0.8rem;
  text-align: center;
  color: #0065fc;
}
#filters ul {
  flex-wrap: wrap;
}
#filters li {
  display: flex;
  border: 2px solid #d9d9d9;
  border-radius: 26px;
  margin-top: 10px;
  margin-right: 10px;
  font-weight: bold;
  padding-right: 10px;
}
#filters li:hover {
  background-color: #deebff;
  border: 2px solid #deebff;
}
#filters h2 {
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 10px;
}
#filters li i {
  min-width: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #deebff;
  color: #0065fc;
  margin: -2px 10px -2px -2px;
  font-size: 1.2rem;
  text-align: center;
}
#filters a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/*               MOST POPULAR             MOST POPULAR             MOST POPULAR          */
#most-popular {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}
#most-popular article {
  background-color: white;
  height: 140px;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 0 0 10px 4px #e2e1e1;
}
#most-popular article:hover {
  box-shadow: 0 3px 10px 1px #7e7e7e;
}
#most-popular figure {
  display: flex;
  flex-direction: row;
  height: 100%;
}
#most-popular figcaption {
  display: flex;
  padding: 10px 10px 10px 20px;
  flex-basis: 60%;
  flex-direction: column;
}
#most-popular p {
  width: 100%;
  font-size: 0.9rem;
  line-height: 35px;
}
#most-popular h3 {
  font-size: 1rem;
  font-weight: bold;
}
#most-popular img {
  width: 100%;
  border: 3px solid white;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
  max-width: 100%;
}
#most-popular ul {
  margin-top: auto;
}
#most-popular h2 {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  font-size: 1.4rem;
  font-weight: bold;
}
#most-popular h2 i {
  color: black;
  font-size: 1.3rem;
  padding-right: 5px;
}
#most-popular .blue {
  color: #0065fc;
  font-size: 0.7rem;
}
#most-popular i {
  color: #e2e1e1;
  font-size: 0.7rem;
}
#most-popular div {
  display: flex;
  flex-basis: 40%;
  height: 100%;
}
/*                accomodation               accomodation                accomodation         */
#accomodation {
  background-color: white;
  height: 100%;
}
#accomodation h2 {
  margin: 20px 0;
  font-size: 1.4rem;
  font-weight: bold;
}
#accomodation article {
  background-color: white;
  width: auto;
  height: 200px;
  margin-bottom: 12px;
  border: 2px solid white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 4px #f2f2f2;
}
#accomodation article:hover {
  box-shadow: 0 3px 10px 1px #7e7e7e;
}
#accomodation figure {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#accomodation img {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border: 3px solid white;
  border-radius: 20px 20px 0 0;
  object-position: 50% 60%;
}
#accomodation figcaption {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 60px;
  margin-left: 15px;
  flex-basis: 33.3%;
}
#accomodation figcaption p {
  font-size: 0.9em;
}
#accomodation > a {
  margin-left: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 20px;
}
#accomodation .blue {
  color: #0065fc;
  font-size: 0.8rem;
}
#accomodation i {
  color: #e2e1e1;
  font-size: 0.8rem;
}
/*                     activity               activity              activity             */
#activity {
  margin: 50px 0 10px 0;
  padding: 15px 0 15px 0;
}
#activity h2 {
  margin-left: 20px;
  font-size: 1.4rem;
  font-weight: bold;
}
#activity h3 {
  margin: 20px 0 10px 15px;
}
#activity article {
  height: 190px;
  margin: 22px 20px 22px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 9px 1px #f2f2f2;
}
#activity article:hover {
  box-shadow: 0 3px 10px 1px #7e7e7e;
}
#activity img {
  object-fit: cover;
  width: 100%;
  height: 130px;
  border-radius: 20px 20px 0 0;
  object-position: 50% 40%;
}
#activity .child2 article:first-child img {
  object-position: 50% 43%;
}
/*                FOOTER                 FOOTER               FOOTER                */
footer {
  background-color: #f2f2f2;
  padding: 40px 25px;
}
footer div {
  margin-bottom: 30px;
}
footer ul {
  flex-direction: column;
  height: 50%;
}
footer li {
  padding-top: 10px;
}
footer a {
  color: black;
  font-size: 1rem;
}
footer h4 {
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
}
/*             ZONE           MÉDIA          576PX         */
@media only screen and (min-width: 576px) {
  section {
    padding: 40px;
  }
  /*                  SEARCH               576                */
  #search-bar span {
    display: inline-block;
    color: white;
    font-size: 1.4em;
  }
  #search-bar button {
    min-width: 150px;
    width: 150px;
    border: 1px solid #0065fc;
    border-radius: 0 15px 15px 0;
    background-color: #0065fc;
    margin: -1px 0 -1px -5px;
  }
  #search-bar button i {
    display: none;
  }
  #search {
    width: min-content;
  }
  /*               MOST        POPULAR       576            */
  #most-popular article {
    width: 80%;
    align-self: center;
  }
  #most-popular h2 {
    margin-bottom: 40px;
  }
  /*               ACCOMODATION            576              */
  #accomodation article {
    flex-basis: 48%;
  }
  #accomodation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #accomodation h2 {
    flex-basis: 90%;
  }
  /*               ACTIVITY                576               */
  #activity {
    margin: 0;
    padding: 40px;
  }
  #activity .child2 {
    display: flex;
  }
  #activity .child2 article:first-child {
    flex-basis: 40%;
  }
  #activity .child2 article:last-child {
    flex-basis: 60%;
  }
  #activity .child4 {
    display: flex;
  }
  #activity .child4 article:first-child {
    flex-basis: 60%;
  }
  #activity .child4 article:last-child {
    flex-basis: 40%;
  }
  footer {
    padding: 60px;
  }
  footer div {
    flex-basis: 25%;
  }
  footer > div {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 798px) {
  #filters ul {
    flex-wrap: nowrap;
  }
  #most-popular {
    padding: 40px 10%;
  }
  #accomodation {
    padding: 40px 10%;
  }
  #activity {
    padding: 40px 10%;
  }
  footer {
    display: flex;
    padding: 50px 10%;
  }
  footer div {
    line-height: 20px;
    margin-right: 2%;
    flex-basis: 100%;
  }
  footer > div {
    margin-left: 3%;
  }
  @media only screen and (min-width: 992px) {
    #most-popular {
      padding: 40px 15%;
    }
    #most-popular h2 {
      margin: 40px 5%;
    }
    #accomodation {
      padding: 40px 15%;
    }
    #activity {
      padding: 40px 15%;
    }
    footer > div {
      padding: 5%;
    }
    footer div {
      flex-basis: 100%;
      max-width: 1200px;
      margin-left: 2%;
    }
    footer {
      padding: 20px 10%;
    }
  }
  @media only screen and (min-width: 1200px) {
    header,
    main {
      max-width: 1200px;
      margin: auto;
    }
    header {
      height: 100px;
      flex-wrap: nowrap;
    }
    header img {
      margin-left: 20px;
    }
    header li {
      flex-basis: 50%;
      padding: 0;
      border-bottom: none;
      height: 100%;
    }
    header > a {
      padding-top: 40px;
      order: 1;
      margin: 0 20px;
      width: 90px;
    }
    header nav {
      margin-left: auto;
      height: 100px;
      margin-top: 0;
      flex-basis: 30%;
    }
    header nav ul {
      height: 100%;
    }
    header li a {
      padding-top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    header li:hover {
      border-bottom: none;
    }
    header li a:hover {
      border-top: 3px solid #0065fc;
      border-bottom: none;
      height: 97%;
    }
    header li:hover a {
      color: #0065fc;
    }
    /*                     SEARCH BAR              1200PX    */
    #search-bar {
      padding: 20px;
    }
    /*                     FILTERS                 1200PX    */
    #filters {
      padding: 20px;
    }
    #bloc {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
    }
    /*                     MOST-POPULAR            1200px    */
    #most-popular {
      flex-basis: 30%;
      border-radius: 20px;
      padding: 0;
      margin-right: 20px;
    }
    #most-popular article {
      width: 90%;
    }
    #most-popular h2 {
      margin: 40px 20px 30px 20px;
    }
    /*                     ACCOMODATION            1200px    */
    #accomodation {
      padding: 15px;
      margin: 0 19px;
      flex-direction: row;
      flex-basis: 70%;
      background-color: #f2f2f2;
      border-radius: 20px;
    }
    #accomodation article {
      margin: 10px;
      flex-basis: 30%;
    }
    /*                     ACTIVITY                1200px    */
    #activity {
      padding: 50px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 550px;
      max-height: 550px;
    }
    #activity article {
      height: 400px;
      margin: 0 20px 0 20px;
    }
    #activity figcaption {
      height: 50px;
    }
    #activity h2 {
      flex-basis: 90%;
    }
    #activity h3 {
      padding: 15px 0 10px 10px;
      margin: 0;
    }
    #activity .child1 {
      flex-basis: 25%;
      height: 400px;
      margin: 20px 0 20px 0;
    }
    #activity .child1 article .large {
      height: 100%;
    }
    #activity .child1 article div {
      height: 350px;
    }
    #activity .child1 article img {
      height: 100%;
    }
    #activity .child2 {
      flex-basis: 25%;
      display: flex;
      flex-direction: column;
      height: 400px;
      margin: 20px 0 20px 0;
    }
    #activity .child2 article:first-child {
      flex-basis: 60%;
      margin: 0 20px 0 20px;
    }
    #activity .child2 article:first-child .medium {
      height: 230px;
    }
    #activity .child2 article:first-child div {
      height: 180px;
    }
    #activity .child2 article:first-child img {
      height: 100%;
    }
    #activity .child2 article:last-child {
      flex-basis: 20%;
      margin-top: 20px;
    }
    #activity .child2 article:last-child div {
      height: 100px;
    }
    #activity .child2 article:last-child img {
      height: 100%;
    }
    #activity .child3 {
      flex-basis: 25%;
      height: 400px;
      margin: 20px 0 20px 0;
    }
    #activity .child3 article img {
      height: 350px;
    }
    #activity .child4 {
      flex-basis: 25%;
      display: flex;
      flex-direction: column;
      height: 400px;
      margin: 20px 0 20px 0;
    }
    #activity .child4 article:last-child {
      flex-basis: 40%;
      margin: 0 20px 25px 20px;
    }
    #activity .child4 article:last-child div {
      height: 180px;
    }
    #activity .child4 article:last-child img {
      height: 100%;
    }
    #activity .child4 article:first-child {
      flex-basis: 30%;
      margin-bottom: 20px;
    }
    #activity .child4 article:first-child div {
      height: 100px;
    }
    #activity .child4 article:first-child img {
      height: 100%;
    }
    footer > div {
      padding: 2%;
    }
    footer div {
      flex-basis: 100%;
      max-width: 1200px;
      margin: auto;
    }
    footer {
      padding: 20px 0;
    }
  }
}
